.inner-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.user-list > div {
    display: flex;
    border: var(--thin-border-width) solid var(--primary-color);
    padding: 0.75em;
    justify-content: space-between;
    align-items: center;
}

.user-list > div > div {
    display: flex;
    gap: 0.5em;
}

.user-list > div > div > a {
    text-decoration: none;
    border: var(--thin-border-width) solid var(--primary-color);
    padding: 0.4em 1em;
    transition-duration: 0.3s;
}
.user-list > div > div > a:hover {
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
}
.user-list > div > div > a.disabled {
    border-color: gray;
    color: gray;
    background-color: #4b4b4b2c;
    cursor: default;
}

label {
    font-size: 110%;
    color: var(--primary-color);
}
select {
    border-color: var(--primary-color);
    height: 100%;
    margin-left: 0.5em;
    color: var(--primary-color);
}
option {
    color: black;
}
option.selected {
    color: var(--primary-color);
}