/* article section */
article > img {
    width: 50%;
    max-height: 20em;
    object-fit: contain;
    margin-right: 1em;
    float: left;
    margin-bottom: 0.5em;
}

ul {
    padding: 0;
}

article span, article a {
    font-size: 90%;
    color: var(--primary-color);
}

#summary {
    font-size: 100%;
    color: var(--primary-color);
}

article > p {
    font-size: 90%;
    margin: 0.25em 0;
}

@media (max-width: 1350px) {
    article {
        display: flex;
        flex-direction: column;
    }
    article > img {
        text-align: center;
        margin: 0;
        width: 100% !important;
    }
}