/* article section */
.article > div {
    display: flex;
    gap: 1.25em;
}

.article > div > img {
    width: max-content;
    height: max-content;
}

.article span, .article a {
    font-size: 90%;
    color: var(--primary-color);
}

.article-about {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.article-about > p {
    margin: 0;
    font-size: 100%;
}

.article > p {
    font-size: 90%;
    margin: 0.25em 0;
}

.inner-content > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (max-width: 1024px) {
    .article > div {
        flex-direction: column;
    }
}