@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #c00202;
    --secondary-color: #5c001e;
    --terciary-color: #2B2024;
    --background-color: #ffffff;

    --primary-font-family: "Playfair Display", "Times New Roman", serif;

    --thick-border-width: 0.15em;
    --thin-border-width: 0.01em;
}

/* Basic values for all tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    margin: 0;
}
h1 {
    font-family: var(--primary-font-family);
    margin: 0;
    font-size: 250%;
}
h2 {
    font-size: 225%;
}
h3 {
    font-size: 175%;
}
h4 {
    font-size: 150%;
}
h5 {
    font-size: 125%;
}
h6 {
    font-size: 110%;
}
a, p, span {
    font-family: var(--primary-font-family);
}
a {
    color: var(--primary-color);
}
p {
    color: black;
    margin: 0;
}
hr {
    border-width: var(--thin-border-width);
    border-style: solid;
    border-color: var(--primary-color);
    width: 100%;
}
textarea {
    resize: none;
}

/* Centering items in divs */
.cv {
    display: flex;
    align-items: center;
}
.hv {
    display: flex;
    justify-content: center;
}
.so {
    display: flex;
    justify-content: space-between;
}
.db {
    display: block;
}
.jr {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.hidden {
    display: none;
}

/* Text aligns */
.tr {
    text-align: right;
}

/* Anchors */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* General page structure */
main {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
}
.inner-content {
    width: 70%;
    padding: 1.5em;
    background-color: var(--background-color);

    /* stin */
    transition: box-shadow ease;
    box-shadow: 0.8em 0.8em 0.8em rgba(170, 0, 0, 0.164);

    border: var(--thick-border-width) solid var(--primary-color);
}

form > span.error-hint {
    font-size: 90%;
    color: var(--primary-color);
    text-align: center;
}

@media print {
    .inner-content {
        width: 97.5%;
        box-shadow: none;
    }
}

@media (max-width: 1024px) {
    .inner-content {
        width: 80%;
    }
}
@media (max-width: 720px) {
    .inner-content {
        width: 90%;
    }
}









/* HEADER */
header {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}

header nav {
    width: inherit;
    background-color: var(--background-color);
    padding: 0 0 0.5em 0;
    
    transition: box-shadow ease;
    box-shadow: 0 0.3em 0.3em rgba(170, 0, 0, 0.164);

    border-bottom: var(--thick-border-width) solid var(--primary-color);
}

main {
    margin-top: 6.5em;
}

.page-title {
    color: var(--terciary-color);
    font-weight: lighter;
    margin: 0 0.5em;
    font-family: var(--primary-font-family);
    font-size: 250%;
}
.page-title:hover {
    text-decoration: none;
}

#page-logo {
    margin: 0.5em 0 0 1em;
}
#category-menu {
    display: none;
    margin-right: 1em;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-bar {
    display: flex;
    justify-content: space-around;
}

.account-actions {
    margin: 0 1em;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.account-action {
    color: var(--terciary-color);
    font-size: 120%;
    font-family: var(--terciary-font-family);
    font-style: italic;
}

.side-menu {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 5.25em;
    right: -1.25em;

    border: var(--thick-border-width) solid var(--primary-color);
    border-right-width: 0;

    overflow-x: hidden;
    transition: 1s;

    width: 0;
    height: 100%;

    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    padding: 0.5em;
}

@media print {
    main {
        margin-top: 0;
    }
    nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 150%;
    }
    .account-actions {
        font-size: 80%;
    }
    .bottom-bar, .account-actions {
        display: none;
    }
    main {
        margin-top: 5em;
    }
    #category-menu {
        display: block;
    }
}