ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    gap: 2em;
    padding-bottom: 1.5em;
}

li > img {
    text-align: center;
    max-width: 100%;
    object-fit: contain;
    min-height: 13em;
    max-height: 13em;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.15em;
}

h1 {
    margin-bottom: 0.5em !important;
    text-align: center;
}

li > p {
    display: inline-block;
    margin: 0;
    text-align: justify;
    font-size: 80%;
    height: 5em;
    overflow: hidden;
}

li > div {
    display: flex;
    justify-content: space-between;
}

li span {
    color: var(--primary-color);
    font-size: 90%;
}

#page-links {
    width: 100%;
    display: flex;
    justify-content: center;
}
#page-links a {
    margin: 0 0.25em;
    color: var(--secondary-color);
}
#page-links a:hover {
    color: var(--primary-color);
    text-decoration: none;
}
#page-links a.selected {
    color: var(--primary-color);
    font-weight: bold;
}

@media print {
    li img {
        display: none;
    }
}

@media(max-width: 1200px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
    }
}
@media(max-width: 600px) {
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}