main > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

span > span {
    color: var(--primary-color);
    font-size: 140%;
}

hr {
    margin: 0;
}