h6 {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

ul > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75em;
}
ul > a:hover {
    text-decoration: none;
}

ul > a > img {
    object-fit: contain;
    width: 8em;
    height: 5em;
}

ul > a > div {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 0.25em;
    max-width: 100%;
}

ul > a > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul > a > div > div > span {
    color: var(--primary-color);
    text-align: end;
    text-wrap: nowrap;
}

ul > a > div > p {
    overflow: hidden;
    height: 3em;
    font-size: 80%;
    min-width: 100%;
    text-align: justify;
    text-overflow: ellipsis;
}

@media (max-width: 600px) {
    ul > a {
        flex-direction: column;
    }
}