.inner-content {
    gap: 1em;
}

textarea, #image-upload, input, select, option {
    font-family: var(--primary-font-family);
}

#image-upload, input {
    text-align: center;
    padding: 0.3em 0;
    font-size: 125%;
    transition-duration: 0.3s;
    border-radius: 0;
}
input {
    background-color: white;
    padding: 0.75em 0;
    color: var(--primary-color);
}
#image-upload {
    flex-grow: 3;
}
#image-upload:hover, input:hover {
    background-color: var(--primary-color);
    color: white;
}
#image-upload > span {
    font-size: 100%;
}

textarea, #image-upload, select, input {
    border-color: var(--primary-color);
    border-width: var(--thin-border-width);
    border-style: dashed;
}

textarea {
    padding: 0.5em;
}

textarea:focus {
    outline: none;
}

textarea.error, #image-upload:has(.error) {
    border-color: darkred;
    border-style: solid;
    border-width: 3px;
}

#article-title {
    font-size: 140%;
}
#article-summary {
    font-size: 110%;
}
#article-body {
    font-size: 95%;
}
#article-image {
    display: none;
}
select {
    height: 100%;
    padding: 0 0.5em;
    color: var(--primary-color);
}
form > div {
    justify-content: center;
    gap: 1%;
}
form > div > label {
    width: auto;
}